body {
	background-image: url(https://images.unsplash.com/photo-1596112827444-9a86151a1d04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
}

h1{
	color: rgba(255,255,255,.9);
	text-shadow: 5px 5px 7px black;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	font-size: 3em;
}

.container {
	text-align: center;
	padding-top: 350px;
}

.fronttext {
	padding-bottom: 50px;
}